html{ 
font-family: 'Source Sans Pro', sans-serif;
}
body {
  font-size: 100%;
  line-height: 1.25;
  max-width: 760px;
  margin: 0 auto;
}
h1 {
  font-size: 2.61905em;
  line-height: 63px;
  margin-top: 0;
  margin-bottom: 0;
}
h2 {
  font-size: 1.7em;
  line-height: 42px;
  margin-top: 0;
  margin-bottom: 0;
}
h3 {
  font-size: 1em;
  line-height: 42px;
  margin-top: 0;
  margin-bottom: 0;
}
h4 {
  font-size: 1em;
  line-height: 21px;
  margin-top: 0;
  margin-bottom: 0;
}
p, ul, ol, pre, table, blockquote {
  margin-top: 21px;
  margin-bottom: 21px;
}

/* Sanitation */
hr {
  border: 1px solid;
  margin: -1px 0;
}
ul ul, ol ol, ul ol, ol ul {
  margin-top: 0;
  margin-bottom: 0;
}
b, strong, em, small, code {
  line-height: 1;
}
sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}
sub {
  top: 0.4em;
}